<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css\b.css' %}">
    <title>Document</title>
</head>
<body>
    <div style="background-color: aliceblue;">
        <h1 style="text-align: center;color: black;">MySite</h1>
    </div>
    <div class="container1"><br>
        <div class="row">
            <div class="col">
                <a href="{% url 'home' %}" type="button" class="btn btn-outline-info" style="width: 100%;">Home</a>
            </div>
            {% if user.is_authenticated %}
            <div class="col">
                <a href="{% url 'password_change' %}" type="button" class="btn btn-outline-info" style="width: 100%;">change password</a>
            </div>
            <div class="col">
                <a href="{% url 'add_data' %}" type="button" class="btn btn-outline-info" style="width: 100%;">Add Data</a>
            </div>
            <div class="col">
                <a href="{% url 'view_data' %}" type="submit" class="btn btn-outline-info" style="width: 100%;">View Data</a>
            </div>
            <div class="col">
                <a href="{% url 'logout' %}" type="button" class="btn btn-outline-info" style="width: 100%;">Logout</a>
            </div>
            {% else %}
            <div class="col">
                <a href="{% url 'signup_1' %}" type="button" class="btn btn-outline-info" style="width: 100%;">SignUp</a>
            </div>
            <div class="col">
                <a href="{% url 'login_1' %}" type="button" class="btn btn-outline-info" style="width: 100%;">Login</a>
            </div>
            {% endif %}
        </div>   
    </div>
{% block body_block %}
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>