<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2 style="text-align: center;"><u>Employee Details</u></h2>
        <table border="1px solid black"; style="margin: auto;background-color:rgb(235, 215, 159)">
       <tr>
        <th>email</th>
        <th>emp_id</th>
        <th>company</th>
        <th>desigination</th>
        <th>place</th>
        <th>salary</th>
       </tr>
       <tr>
    
             <td>   {{b.email}}</td>
             <td> {{b.emp_id}}</td>
             <td> {{b.company}}</td>
             <td> {{b.desigination}}</td>
             <td>  {{b.place}}</td>
             <td> {{b.salary}}</td>
              
       </tr>
       
      
      </table>
      
    </body>
</html>



